<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Learn english</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="#section1">Personal Pronouns</a></li>
      <li><a href="#section2">Verb To Be</a></li>
      <li><a href="#section3">Examples</a></li>
    </ul>
  </nav>
  <div class="tables">
    <section id="section1" class="tableone">
      <table>
        <h1 onclick="personalp.play()" >PERSONAL PRONUNS</h1>
        <tr>
          <th>SPANISH</th>
          <th>INGLISH</th>
          <th>PRONUNCIATION</th>
        </tr>
        <tr>
          <th class="columnone">Yo</th>
          <th class="columntwo" onclick="i.play()" >I</th>
          <th class="columnthree">ai</th>
        </tr>
        <tr>
          <th class="columnone">Tu/ Usted</th>
          <th class="columntwo" class="columntwo" onclick="you.play()" >You</th>
          <th class="columnthree">iu</th>
        </tr>
        <tr>
          <th class="columnone">Él</th>
          <th class="columntwo" class="columntwo" onclick="he.play()">He</th>
          <th class="columnthree">ji</th>
        </tr>
        <tr>
          <th class="columnone">Ella</th>
          <th class="columntwo" class="columntwo" onclick="she.play()">She</th>
          <th class="columnthree">shi</th>
        </tr>
        <tr>
          <th class="columnone">Eso/ Esa/ Ese</th>
          <th class="columntwo" class="columntwo" onclick="it.play()">It</th>
          <th class="columnthree">it</th>
        </tr>
        <tr>
          <th class="columnone">Nosotros/ Nosotras</th>
          <th class="columntwo" class="columntwo" onclick="we.play()">We</th>
          <th class="columnthree">wi</th>
        </tr>
        <tr>
          <th class="columnone">Ustedes/ Vosotros</th>
          <th class="columntwo" class="columntwo" onclick="you.play()">You</th>
          <th class="columnthree">iu</th>
        </tr>
        <tr>
          <th class="columnone">Ellos/ Ellas</th>
          <th class="columntwo" class="columntwo" onclick="they.play()">They</th>
          <th class="columnthree">dey</th>
        </tr>
      </table>
      <h2>Examples</h2>
      <p onclick="ejeone.play()">I am going to the store. (Voy a la tienda.)</p>
      <p onclick="ejetwo.play()">You are my best friend. (Eres mi mejor amigo/amiga.)</p>


    </section>

    <section id="section2" class="tabletwo">
      <table>
        <h1> VERB TO BE</h1>
         <!-- Cuadro de texto -->
      <textarea id="texto" rows="5" cols="50">Once upon a time, there was a student named Alex. Alex was a talented student and was determined to improve his English. One day, he decided to join a language exchange group in his local community. In the group, he met several interesting people from different countries: Jane, Michael, Lisa, and Tom.

        During the language exchange sessions, Alex practiced his English with Jane and Michael, who were native English speakers. They encouraged him and gave him advice to improve his pronunciation and grammar. Jane said, "You're doing great, Alex. Keep practicing!" Michael added, "I believe in you!"

        In addition to practicing with native speakers, Alex also practiced with other English learners like Lisa and Tom. Together, they supported each other and shared their progress. Lisa said to Alex, "We can do this together!" And Tom added, "Let's help each other improve!"

        Over time, Alex became more confident in his English and felt more comfortable using pronouns in different situations. He learned that "I" refers to himself, "you" refers to the person he is speaking to, and "we" refers to the group he belongs to.

        Thanks to the help and support from Jane, Michael, Lisa, and Tom, Alex became a confident and competent English speaker. His story is a motivational reminder that with determination and the right support, we can achieve our goals and improve our skills in any language we wish to master.

        Alex's story and his experience in the language exchange group are a motivational example of how pronouns in English can be used in everyday situations to communicate effectively and connect with people from different cultures and countries. Keep practicing and stay motivated!</textarea>

      <!-- Botones debajo del cuadro de texto -->
      <div class="button-container">
        <button class="button" onclick="hablar()">Hablar</button>
        <button class="button" onclick="detener()">Detener</button>
      </div>
      </table>
    </section>

    <section id="section3" class="tablethree">
      <table>
        <h1> VERB TO BE</h1>
        <tr>
          <th class="columnone">PRONUNS</th>
          <th class="columntwo">TO BE</th>
        </tr>
      </table>
    </section>
  </div>
  <script src="js/mi_script.js"></script>
</body>
</html>
