<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text to Speech</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>Texto a Voz</h1>
    <textarea itype="text" id="miCampo" value="Ingresa tu texto aquí" onfocus="limpiarTexto()"></textarea>
    <div class="buttons-container">
        <button onclick="hablar()"><i class="icon fas fa-play"></i>Hablar</button>
        <button onclick="detener()"><i class="icon fas fa-stop"></i>Detener</button>
    </div>

    <script src="js/scrypt.js"></script>
</body>

</html>
